# objects and archives
*.[oa]
*.lo
*.la

# Makefiles
Makefile
Makefile.in

# Hidden files and dirs except .gitignore
.*
!.gitignore

# Misc
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libhfst/hfst.pc
libhfst/src/hfst.hpp
libhfst/src/parsers/lexc-lexer.cc
libhfst/src/parsers/lexc-parser.cc
libhfst/src/parsers/lexc-parser.hh
libhfst/src/parsers/pmatch_lex.cc
libhfst/src/parsers/pmatch_parse.cc
libhfst/src/parsers/pmatch_parse.hh
libhfst/src/parsers/xfst-lexer.cc
libhfst/src/parsers/xfst-parser.cc
libhfst/src/parsers/xfst-parser.hh
libhfst/src/parsers/xre_lex.cc
libhfst/src/parsers/xre_parse.cc
libhfst/src/parsers/xre_parse.hh
libhfst/src/stamp-h2
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
scripts/hfst-foma
scripts/hfst-foma-wrapper.sh
stamp-h1
tools/src/hfst-affix-guessify
tools/src/hfst-compare
tools/src/hfst-compiler.cc
tools/src/hfst-compiler.hh
tools/src/hfst-compose
tools/src/hfst-compose-intersect
tools/src/hfst-concatenate
tools/src/hfst-conjunct
tools/src/hfst-determinize
tools/src/hfst-disjunct
tools/src/hfst-edit-metadata
tools/src/hfst-format
tools/src/hfst-fst2fst
tools/src/hfst-fst2strings
tools/src/hfst-fst2txt
tools/src/hfst-grep
tools/src/hfst-guess
tools/src/hfst-guessify
tools/src/hfst-head
tools/src/hfst-info
tools/src/hfst-invert
tools/src/hfst-lexc
tools/src/hfst-lookup
tools/src/hfst-minimize
tools/src/hfst-multiply
tools/src/hfst-name
tools/src/hfst-optimized-lookup
tools/src/hfst-pair-test
tools/src/hfst-pmatch
tools/src/hfst-pmatch2fst
tools/src/hfst-project
tools/src/hfst-prune-alphabet
tools/src/hfst-push-weights
tools/src/hfst-regexp2fst
tools/src/hfst-remove-epsilons
tools/src/hfst-repeat
tools/src/hfst-reverse
tools/src/hfst-reweight
tools/src/hfst-split
tools/src/hfst-strings2fst
tools/src/hfst-substitute
tools/src/hfst-subtract
tools/src/hfst-summarize
tools/src/hfst-tail
tools/src/hfst-tokenize
tools/src/hfst-traverse
tools/src/hfst-twolc/src/hfst-twolc
tools/src/hfst-twolc/src/hfst-twolc-loc
tools/src/hfst-twolc/src/hfst-twolc-system
tools/src/hfst-twolc/src/htwolcpre1
tools/src/hfst-twolc/src/htwolcpre1.cc
tools/src/hfst-twolc/src/htwolcpre1.hh
tools/src/hfst-twolc/src/htwolcpre2
tools/src/hfst-twolc/src/htwolcpre2.cc
tools/src/hfst-twolc/src/htwolcpre2.hh
tools/src/hfst-twolc/src/htwolcpre3
tools/src/hfst-twolc/src/htwolcpre3.cc
tools/src/hfst-twolc/src/htwolcpre3.hh
tools/src/hfst-twolc/src/scanner1.cc
tools/src/hfst-twolc/src/scanner2.cc
tools/src/hfst-twolc/src/scanner3.cc
tools/src/hfst-txt2fst