include hfst_extensions.cc
include hfst_file_extensions.cc
include hfst_lexc_extensions.cc
include hfst_lookup_extensions.cc
include hfst_pmatch_extensions.cc
include hfst_prolog_extensions.cc
include hfst_regex_extensions.cc
include hfst_rules_extensions.cc
include hfst_xfst_extensions.cc
include docstrings.i
include libhfst/src/*.h
include libhfst/src/implementations/*.h
include libhfst/src/implementations/optimized-lookup/*.h
include libhfst/src/implementations/compose_intersect/*.h
include libhfst/src/parsers/*.h
include libhfst/src/parsers/*.hh
include back-ends/foma/*.h
include back-ends/openfst/src/include/fst/*.h
include config.h
